* {
    margin: 0;
    padding: 0;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: 500ms;
}

#sidebar.active{
    left: 0;
}

#sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.logo {
    width: 150px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 210px;
    top: 20;
    cursor: pointer;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
}